#tiles {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#tiles li {
  display: inline-block;
}

.draggable {
  width: 165px;
  height: 180px;
  padding: 3px;
}

.droppable {
  border: solid;
  width: 165px;
  height: 180px;
}
