/* email: sean_boullianne@student.uml.edu */

h2 {
  margin-bottom: 5px;
}

#rack {
  border: solid;
  margin-bottom: 20px;
}

#tiles, #board {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#tiles li, #board li {
  display: inline-block;
}

#tiles li {
  margin: 10px;
}

#tiles li .letter, #tiles li .value{
  display: none;
}

#board li .value, #board li .tile{
  display: none;
}

#scoreHdr {
  display: none;
}

.draggable {
  width: 75px;
  height: 75px;
  padding: 3px;
}

.droppable {
  border: solid;
  width: 75px;
  height: 75px;
}

img {
  width: 75px;
  height: 75px;
}
