#tiles, #drop-area {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#tiles li, #drop-area li {
  display: inline-block;
  margin: 10px;
}

.draggable {
  width: 165px;
  height: 180px;
  padding: 3px;
}

.droppable {
  border: solid;
  width: 165px;
  height: 180px;
}
